/* :::::::: icons (from the Winstripe theme) ::::::::::::::: */

.console-row[type="error"] {
	list-style-image: url("chrome://myExt/content/xul/console/bullet-error-small.png") !important;
}

.console-row[type="warning"] {
	list-style-image: url("chrome://myExt/content/xul/console/bullet-warning-small.png") !important;
}

.console-row[type="message"] {
	list-style-image: url("chrome://myExt/content/xul/console/bullet-message-small.png") !important;
}

/*browser.xul*/
.console-row-icon[type="error"] {
	list-style-image: url("chrome://myExt/content/xul/console/bullet-error-small.png") !important;
}

.console-row-icon[type="warning"] {
	list-style-image: url("chrome://myExt/content/xul/console/bullet-warning-small.png") !important;
}

.console-row-icon[type="message"] {
	list-style-image: url("chrome://myExt/content/xul/console/bullet-message-small.png") !important;
}